/* Reset general y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #007BFF;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 30px;
}

form p {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #FFD700; /* Amarillo IUB */
    color: #007BFF; /* Azul IUB */
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #F0E68C; /* Amarillo más claro */
    color: #0056b3; /* Azul más oscuro */
}

/* Estilos para la ventana modal */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#results {
    margin-top: 20px;
}
